<!DOCTYPE html>
<html>
  <head>
    <title>PictgramDup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--  フラッシュ部分-->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
  <% end %>

<!--ナビゲーションバー部分-->
  <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
    <div class="container">
<!--      ナビゲーションバー左上のサイトロゴクリックに関する処理。常に、root pageに戻ってくるように。-->
        <%= link_to root_path do %>
          <span><%= image_tag "icons/logo.png", class: "navbar-brand" %></span>
        <% end  %>
        <ul class="nav navbar-nav navbar-right">
<!-- if~else分に=はいらない。表示対象ではなく純粋な制御文だから -->
          <% if logged_in? %>
            <li>
              <%= link_to favorites_path do %>
                <%= image_tag "icons/heart.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to new_topic_path do %>
                <%= image_tag "icons/camera.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to topics_path do %>
                <%= image_tag "icons/menu.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <%= image_tag "icons/logout.png" %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to users_new_path do %>
                <%= image_tag "icons/register.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %>
                <%= image_tag "icons/login.png" %>
              <% end %>
            </li>
          <% end %>
        </ul>
    </div>
  </nav>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">This is for Heroku deployment test</p>
    </div>
  </footer>

<!--    以下yieldの部分に個々のview(erb)が差し込まれて、ガッチャンコされて描画される。aka. ここより上の部分はこのウェブアプリのどのページを表示しても共通して描画される箇所になる。-->
    <%= yield %>

  <script>
      $(function(){
          $(".alert").fadeOut(3000);
      });
  </script>

  </body>
</html>
